services:
  
  identix:
    container_name: overoom.identix
    build:
      dockerfile: "Identix/Dockerfile"  # Путь к Dockerfile
      target: "base"  # Целевой этап сборки
    environment:
      ASPNETCORE_ENVIRONMENT: "DevContainer"  # Окружение для ASP.NET Core
      ASPNETCORE_STATICWEBASSETS: "/app/bin/Debug/net9.0/Identix.staticwebassets.runtime.CT.json"  # Путь к статическим веб-ассетам
      DOTNET_USE_POLLING_FILE_WATCHER: "true"  # Использование файлового наблюдателя
    image: "identix"  # Имя образа
    entrypoint:
      - "dotnet"
      - "/app/bin/Debug/net9.0/Identix.dll"  # Точка входа для контейнера
    ports:
      - "443:443"  # Порты для проброса
    volumes:
      - "./configurations/identix/appsettings.DevContainer.json:/app-1/appsettings.DevContainer.json"  # Монтирование конфигурации приложения
      - "./configurations/ssl:/https:ro"  # Монтирование тома для HTTPS
      - "~/.nuget/packages:/home/app/.nuget/packages"  # Монтирование тома для NuGet пакетов
      - "./Identix:/app:rw"  # Монтирование тома для приложения
      - "./:/src:rw"  # Монтирование тома для исходного кода
    working_dir: "/app"  # Рабочая директория
    depends_on:
      rabbitmq:
        condition: service_healthy  # Зависимость от RabbitMQ
      mongo:
        condition: service_healthy  # Зависимость от MongoDB
      minio:
        condition: service_healthy  # Зависимость от Minio
  
  films:
    container_name: overoom.films
    build:
      dockerfile: "Films.Start/Dockerfile"  # Путь к Dockerfile
      target: "base"  # Целевой этап сборки
    environment:
      ASPNETCORE_ENVIRONMENT: "DevContainer"  # Окружение для ASP.NET Core
      DOTNET_USE_POLLING_FILE_WATCHER: "true"  # Использование файлового наблюдателя
    image: "films"  # Имя образа
    entrypoint:
      - "dotnet"
      - "/app/bin/Debug/net9.0/Films.Start.dll"  # Точка входа для контейнера
    ports:
      - "7131:443"  # Порты для проброса
    volumes:
      - "./configurations/films/appsettings.DevContainer.json:/app-1/appsettings.DevContainer.json"  # Монтирование конфигурации приложения
      - "./configurations/ssl:/https:ro"  # Монтирование тома для HTTPS
      - "~/.nuget/packages:/home/app/.nuget/packages"  # Монтирование тома для NuGet пакетов
      - "./Films.Start:/app:rw"  # Монтирование тома для приложения
      - "./:/src:rw"  # Монтирование тома для исходного кода
    working_dir: "/app"  # Рабочая директория
    depends_on:
      rabbitmq:
        condition: service_healthy  # Зависимость от RabbitMQ
      mongo:
        condition: service_healthy  # Зависимость от MongoDB
      minio:
        condition: service_healthy  # Зависимость от Minio
  
  rooms:
    container_name: overoom.rooms
    build:
      dockerfile: "Rooms.Start/Dockerfile"  # Путь к Dockerfile
      target: "base"  # Целевой этап сборки
    environment:
      ASPNETCORE_ENVIRONMENT: "DevContainer"  # Окружение для ASP.NET Core
      DOTNET_USE_POLLING_FILE_WATCHER: "true"  # Использование файлового наблюдателя
    image: "rooms"  # Имя образа
    entrypoint:
      - "dotnet"
      - "/app/bin/Debug/net9.0/Rooms.Start.dll"  # Точка входа для контейнера
    ports:
      - "7291:443"  # Порты для проброса
    volumes:
      - "./configurations/rooms/appsettings.DevContainer.json:/app-1/appsettings.DevContainer.json"  # Монтирование конфигурации приложения
      - "./configurations/ssl:/https:ro"  # Монтирование тома для HTTPS
      - "~/.nuget/packages:/home/app/.nuget/packages"  # Монтирование тома для NuGet пакетов
      - "./Rooms.Start:/app:rw"  # Монтирование тома для приложения
      - "./:/src:rw"  # Монтирование тома для исходного кода
    working_dir: "/app"  # Рабочая директория
    depends_on:
      rabbitmq:
        condition: service_healthy  # Зависимость от RabbitMQ
      mongo:
        condition: service_healthy  # Зависимость от MongoDB
  
  mongo:
    image: mongo:8.0.15 # Образ Mongo
    container_name: overoom.mongo # Название контейнера
    ports:
      - '27017:27017' # Выделяем порт
    volumes:
      - "./configurations/mongo/:/mongo/config" # Монтирование конфигурационных файлов
      - './containers/mongo/:/data/db' # Монтирование тома для хранения данных MongoDB
    command: [ "--replSet", "rs0", "--bind_ip_all" ] # Команда для запуска MongoDB с настройками репликации
    healthcheck:
      test: [ "CMD-SHELL", "/mongo/config/healthcheck.sh" ]  # Проверка состояния
      interval: 5s # Интервал между проверками
      timeout: 30s # Максимальное время ожидания ответа от проверки
      start_period: 0s # Задержка перед началом первой проверки
      retries: 30 # Количество попыток проверки перед тем, как контейнер будет объявлен нездоровым

  mongo-express:
    image: mongo-express:1.0.2-20-alpine3.19  # Используем последний образ Mongo Express
    container_name: overoom.mongo-express  # Имя контейнера
    ports:
      - "8081:8081"  # Пробрасываем порт 8081 Mongo Express
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo:27017/admin?retryWrites=true&loadBalanced=false&connectTimeoutMS=10000
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      mongo:
        condition: service_healthy  # Запускать Mongo Express только после успешной проверки здоровья MongoDB
  
  rabbitmq:
    image: rabbitmq:4.1.4-management  # Образ RabbitMQ
    container_name: overoom.rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=rmuser  # Пользователь RabbitMQ
      - RABBITMQ_DEFAULT_PASS=rmpassword  # Пароль RabbitMQ
    ports:
      - "15672:15672"  # Порты для проброса
      - "5672:5672"  # Порты для проброса
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]  # Проверка состояния
      interval: 10s  # Интервал проверки
      timeout: 5s  # Таймаут проверки
      retries: 5  # Количество попыток
  
  minio:
    image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z  # Официальный образ MinIO
    container_name: overoom.minio
    command: server /data --console-address ":9001"  # Запуск сервера с веб-консолью
    environment:
      - MINIO_ROOT_USER=minioadmin  # Логин администратора (по умолчанию)
      - MINIO_ROOT_PASSWORD=minioadmin  # Пароль администратора (по умолчанию)
      - MINIO_BROWSER_REDIRECT_URL=http://localhost:9001  # URL для редиректа консоли
    volumes:
      - './containers/minio/:/data/' # Монтирование тома для хранения данных
    ports:
      - "9000:9000"  # API порт (для клиентов)
      - "9001:9001"  # Консоль управления (Web UI)
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]  # Проверка состояния
      interval: 30s  # Проверка каждые 30 секунд
      timeout: 20s  # Максимальное время ожидания
      retries: 3  # Количество попыток
  
  prometheus:
    image: prom/prometheus:v3.7.1 # Образ Prometheus
    container_name: prometheus # Имя контейнера
    command:
      - '--config.file=/etc/prometheus/prometheus.yml' # Указываем файл конфигурации
      - '--web.config.file=/etc/prometheus/web.yml' # Указываем файл конфигурации
    volumes:
      - "./configurations/prometheus/:/etc/prometheus" # Монтирование конфигурационных файлов
    ports:
      - "9090:9090"
    healthcheck:
      test: [ "CMD-SHELL", "/etc/prometheus/healthcheck.sh" ]  # Проверка состояния
      interval: 5s  # Интервал между проверками
      timeout: 5s  # Максимальное время ожидания ответа
      retries: 5  # Количество повторных попыток