@{
    var nonce = Context.Items["CSP-Nonce"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script nonce="@nonce">
        const theme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-bs-theme', theme);
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identix - @ViewData["Title"]</title>
    <link href="~/img/icon.ico"
          rel="icon"
          type="image/x-icon"/>
    <link href="~/bundles/app.bundle.css"
          rel="stylesheet"/>
</head>
<body>

<partial name="_Culture"/>
<partial name="_Theme"/>
<partial name="_ValidationSummary"/>
<div class="card main-card px-md-5 p-3 my-5">
    <div class="card-body">
        @RenderBody()
    </div>
</div>


<script src="~/bundles/app.bundle.js"></script>
</body>
</html>