@using Microsoft.AspNetCore.Mvc.Localization
@model Identix.Infrastructure.Web.Settings.InputModels.RequestChangeEmailInputModel
@inject IViewLocalizer Localizer

<form asp-action="RequestChangeEmail" method="post" class="mt-2">

    <div class="wrap-input">
        <input asp-for="Email"/>
        <span class="focus-input" asp-placeholder-for="Email">
        </span>
    </div>
    <div class="wrap-error mb-4">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="container-btn">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <input class="m-btn" type="submit" value="@Localizer["Change"]">
        </div>
    </div>
</form>