@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["EmailConfirmedTitle"];
}

<h5 class="card-title">@Localizer["EmailConfirmedTitle"]</h5>

<div class="mt-5">@Localizer["EmailConfirmedBody"]</div>