:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#root {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Morice-Bejar";
    src: url("./fonts/Morice-Bejar.ttf") format("truetype");
}

@font-face {
    font-family: "Hero";
    src: url("./fonts/Hero.ttf") format("truetype");
}
