.consent {
  
  .form-check-label{
    font-size: var(--main-size) !important;
  }
  
  .emphasize{
    background-color: rgba(var(--bs-body-color-rgb), 0.1);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .consent-description {
    font-size: var(--side-size);
    color: rgba(var(--bs-body-color-rgb), 0.8);
  }

  .required {
    font-size: var(--side-size);
    color: rgba(var(--bs-body-color-rgb), 0.5);
  }
  
  .description{
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  }
}

.card-logo {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}