.settings {

  .avatar {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.1s
  }

  .avatar:hover {
    width: 55px;
    height: 55px;
    box-shadow: 1px 2px 5px 1px #3f0681;
  }

  .accordion-button {
    font-size: var(--main-size) !important;
    --bs-accordion-btn-padding-y: 15px;
    --bs-accordion-btn-padding-x: 15px;
  }

  @media (max-width: 670px) {
    .accordion-button {
      --bs-accordion-btn-padding-y: 10px;
      --bs-accordion-btn-padding-x: 10px;
    }

  }

  .oauth-block {
    position: relative;

    .modal-btn {
      position: absolute;
      top: 2px;
      right: 3%;
      color: #8c0000;
    }

    .modal-btn:hover {
      color: red;
      cursor: pointer;
    }

    .provider.disabled {
      cursor: not-allowed;
      box-shadow: 0 0 1px 1px rgba(var(--bs-body-color-rgb), 0.5);
      opacity: 0.5;
    }

    .provider.active {
      box-shadow: 0 1px 1px 1px rgba(var(--bs-body-color-rgb), 0.5);
    }

    .provider {
      display: block;
      width: 75%;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: auto auto 15px;
      color: var(--bs-body-color);
      border-radius: 10px;
      text-decoration: none;
      transition: all 0.2s;
      font-family: Montserrat-Medium, serif;
      position: relative;

      .icon {
        width: 21px;
        height: 21px;
        position: absolute;
        margin-left: 5px;
        border-radius: 50%;
      }

      .name {
        text-align: center;
        font-size: 14px;
      }

      .check {
        position: absolute;
        top: 8px;
        right: 10px;
        color: green;
      }
    }

    .provider.active:hover {
      width: 76%;
      color: white;
      border-color: transparent;

      .check {
        color: white;
      }
    }

    .active.yandex:hover {
      background: rgb(252, 63, 29);
      box-shadow: 0 3px 4px 1px rgba(252, 63, 29, 0.5);

      circle {
        fill: rgb(149, 113, 113) !important;
        stroke: #5c5c5c;
        stroke-width: 5px;
      }
    }

    .vkid {
      .icon {
        width: 42px;
        border-radius: 20%;
      }
    }

    .active.vkid:hover {
      background: rgb(0, 119, 255);
      box-shadow: 0 3px 4px 1px rgba(0, 119, 255, 0.5);

      #background {
        fill: rgb(0, 100, 214);
      }
    }

    .active.github:hover {
      background: rgb(0, 0, 0);
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.5);
    }

    .active.google:hover {
      background: rgb(12, 57, 239);
      box-shadow: 0 3px 4px 1px rgba(12, 57, 239, 0.5);

      .icon {
        stroke: #424242;
        stroke-width: 1px;
      }
    }

    .active.microsoft:hover {
      background: rgb(43, 211, 51);
      box-shadow: 0 3px 4px 1px rgba(43, 211, 51, 0.5);

      .icon {
        stroke: #5c5c5c;
        stroke-width: 5px;
      }
    }

    .microsoft {
      .icon {
        border-radius: 0;
      }
    }

    .active.twitter:hover {
      background: rgb(0, 0, 0);
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.5);
    }

    .active.discord:hover {
      background: rgb(88, 101, 242);
      box-shadow: 0 3px 4px 1px rgba(88, 101, 242, 0.5);

      .icon {
        fill: rgb(54, 65, 177) !important;
      }
    }
  }
}