.theme-toggler {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 0.375rem;
  width: 50px;
  cursor: pointer;
  
  svg {
    color: var(--bs-body-color);
    width: 24px;
    height: 24px;
    margin: auto;
  }
}