@using AuthService.Application.Abstractions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ApplicationConstants.ProjectName - @ViewData["Title"]</title>
    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/img/snowman2.ico"
          rel="icon"
          type="image/x-icon"/>
    <link href="~/fonts/iconic/css/material-design-iconic-font.min.css"
          rel="stylesheet"
          type="text/css">
    <link href="~/css/app.min.css"
          rel="stylesheet"/>
</head>
<body>

<partial name="_Culture"/>
<div class="body-container">
    <partial name="_ValidationSummary"/>
    <div class="card main-card px-md-5 px-3 py-3">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

<script src="~/js/app.min.js"></script>
<script src="~/lib/jquery/dist/jquery-3.7.1.slim.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>