@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger py-1 px-3 mt-3" style="width:500px">
        <strong>@Localizer["Error"]</strong>
        <div asp-validation-summary="All"
             class="danger">
        </div>
    </div>
}