@using Microsoft.AspNetCore.Mvc.Localization
@model Identix.Infrastructure.Web.TwoFactor.InputModels.TwoFactorAuthenticateInputModel
@inject IViewLocalizer Localizer

<input asp-for="CodeType" type="hidden"/>

<div class="wrap-input">
    <input asp-for="Code"/>
    <span class="focus-input" asp-placeholder-for="Code">
    </span>
</div>
<div class="wrap-error mb-4">
    <span asp-validation-for="Code"></span>
</div>

<div class="container-btn">
    <div class="wrap-btn on-load">
        <div class="bg-btn"></div>
        <input class="m-btn" type="submit" value="@Localizer["Enter"]">
    </div>
</div>